h1 {
  font-size: 18px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}
h2 {
  padding: 4px 20px 0;
  margin: 0;
  line-height: 1;
}

h3 {
  font-size: small;
  padding: 0 20px 0;
  margin: 0;
}
h4 {
  font-size: 18px;
  padding: 0 20px 0;
}

.container {
  border: 0.5px solid rgb(53, 70, 102);
  border-radius: 4px;
  font-family: 'Catamaran', sans-serif;
  color: rgb(53, 70, 102);
  text-align: left;
  width: 750px;
  margin: 0 auto;
  background-size: 100%;
}
.form-group {
  display: block;
  margin: 0 auto;
}

.card {
  border: none;
  background-color: rgba(0, 0, 255, 0);
}

#search-input {
  width: 250px;
  padding: 1px 4px;
  margin: 2px;
}
#search-button {
  margin: 2px 8px 2px 2px;
  background-color: rgb(53, 70, 102);
}
#find-location-button {
  background-color: rgb(68, 131, 68);
}

#current-weather, .col-2 {
  border: 0.5px solid rgb(53, 70, 102);
  border-radius: 4px;
  background-color: rgba(246, 248, 244, 0.473);
  margin: 15px;
}

#current-row {
  margin: 0 auto;
  width: 650px;
}

#current-temp-fig {
  font-size: 80px;
}
#main-unit {
  display: inline;
  vertical-align: 150%;
}
#current-min-max {
  padding: 55px 20px 40px 40px;
  font-size: 20px;
  margin: 10px;
}
.col-3-humWind {
  padding: 35px 10px 20px 40px;
  text-align: right;
  margin: 20px;
}

#forecast-weather-grid{
  text-align: center;
  padding: 0;
}
#forecast-row {
  padding: 10px 0px;
  flex-wrap: nowrap;
  width: 600px;
  margin: 0 10px;
}

.col-2 {
  padding: 8px 10px;
  margin: 0 8px;
}

.forecastTime {
  font-size: 14px;
}

.forecastImage {
  width: 50px;
}
#forecast-max {
  font-weight: bold;
}

footer {
  text-align: center;
}
